:root {
  --vdMagenta: hsl(300, 43%, 22%);
  --softPink: hsl(333, 80%, 67%);

  --dGrayishMagenta: hsl(303, 10%, 53%);
  --lGrayishMagenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

* {
  border: 1px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*****************
***Body section***
******************/

body {
  background-color: #ddd;
  display: grid;
  place-items: center;
  text-align: left;
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
}

main {
  width: clamp(375px, 54vw, 670px);
  height: 100vh;
  background: var(--white);
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
}

/******************
***Title section***
*******************/

.upper {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title > h1 {
  color: var(--vdMagenta);
  font-weight: 700;
}

.title > p {
  color: #999;
  font-weight: 500;
}

/********************
***Ratings section***
********************/

.ratings {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.rating {
  padding: 0.5rem;
  background: var(--lGrayishMagenta);
  border-radius: 5px;
  color: var(--vdMagenta);
  font-weight: 700;
}

/*******************
***Bottom section***
*******************/

.bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*****************
***User section***
*****************/

.user {
  padding: 1.5rem;
  background: var(--vdMagenta);
  color: var(--white);
  border-radius: 10px;
  display: grid;
  grid-template: min-content 1fr / 1fr 5fr;
  row-gap: 1.5rem;
  align-items: center;
}

.user img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.user > p {
  grid-column: 1 / 3;
}

.user > div > p:nth-child(1) {
  font-weight: 700;
}

.user > div > p:nth-child(2) {
  font-weight: 400;
  color: var(--softPink);
}

.user > p {
  font-weight: 500;
  line-height: 1.2;
}

/************************
***Media query section***
************************/

@media screen and (min-width: 750px) {
  .upper {
    text-align: left;
    flex-direction: row;
    align-items: center;
  }

  .upper > * {
    flex: 1;
  }

}
