:root {
  --vdMagenta: hsl(300, 43%, 22%);
  --softPink: hsl(333, 80%, 67%);

  --dGrayishMagenta: hsl(303, 10%, 53%);
  --lGrayishMagenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*****************
***Body section***
******************/

body {
  background-color: #ddd;
  display: grid;
  place-items: center;
  text-align: left;
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
}

main {
  width: clamp(375px, 54vw, 670px);
  height: 100vh;
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1,
h2 {
  padding: 0.5rem 0 1rem;
}

/***************************
***Grid container section***
***************************/

/*****************
***Join section***
*****************/

/********************
***Monthly section***
********************/


/****************
***Why section***
****************/


/************************
***Media query section***
************************/

@media screen and (min-width: 750px) {

}
